.header-container {
    height: 664px;
    position: relative;
    background-image: url('../../../images/repairman-soldering-components-motherboard-while-fixing-damaged-smart-phone-using-tweezers-iron.jpg');
    background-size: cover;
}